#inspector{
    width: 300px;
    right: 0;
    position: absolute;
}

.tree{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul.tree{
    padding-left: 0px!important;
    font-size: 16px;
    font-family: "Helvetica";
    display: inline-block
}

.tree ul, li {
    list-style: none;
    margin:0;
    padding:0;
    cursor: pointer;
}

.tree p {
    margin:0;
    display:block;
}
.tree p:hover {
    background-color:#121212;
}

.tree li {
    text-indent: 16px;
    padding-left: 8px;
    background-repeat: no-repeat;
    border-left: 1px solid #000;
    border-left-style: dashed;
}

.tree li{
    line-height: 1.5em;vertical-align: middle;
}

.tree li::before{
    background-image: url("../img/Property.png");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    margin-left: -16px;
    content: "\00a0\00a0\00a0\00a0\00a0" attr(data-property) "\00a0";
 }
 
 .tree li.string::before{
    background-image: url("../img/String.png");
 }
 
  .tree li.boolean::before{
    background-image: url("../img/Boolean.png");
 }
 
.tree li.number::before{
    background-image: url("../img/Number.png");
 }
 
.tree li.function::before{
    background-image: url("../img/Function.png");
 }

.tree .collapsed::before, .expanded::before{
    content: "\00a0\00a0\00a0" attr(data-property) "\00a0";
    background: none;
    margin-left: 4px;
    line-height: 16px;
 }

.tree .collapsed {
    background-image: url("../img/ClosedNode.png");
    background-size: 40px 16px;
    border: none;
    background-repeat: no-repeat;
    margin-left: 10px;
    line-height: 16px;
    margin-top: 6px;
}

.tree .expanded {
    background: none;
    background-image: url("../img/OpenNode.png");
    background-size: 40px 16px;
    border: none;
    background-repeat: no-repeat;
}

.tree input[type="text"]{
    box-sizing: border-box;
    padding: 2px;
    border: none;
}

.tree input[type="text"]:focus, input[type="text"]:active{
    border: 1px solid #000;
    outline: none;
}